# This workflow will install Python dependencies and build the documentation. Documentation is then deployed to the Github Pages website via the `gh-pages` branch.
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Generate Documentiation

on:
  push:
    branches:
      - 'main'
      - "!gh-pages"
    paths: # Only generate documentation for changes to the SHRED-X package or documentation itself
      - 'shredx/**'
      - 'docs/**'
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build_docs:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.13.7"]
    steps:
      - uses: actions/checkout@v6
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
          cache: 'pip'
      - name: Install pandoc
        run: |
          sudo apt-get update
          sudo apt-get install pandoc
      - name: Install dependencies
        run: |
          pip install nox
      - name: Build documentation
        run: |
          nox -s build_docs
      - name: Upload documentation artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: docs/build/html
      - name: Deploy documentation
        uses: peaceiris/actions-gh-pages@v3
        if: github.ref == 'refs/heads/main'
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: docs/build/html

