# This workflow will install Python dependencies and build the documentation. 
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Test Generating Documentiation

on:
  push:
    branches:
      - "**"
      - "!main"
      - "!gh-pages"
    paths: # Only generate documentation for changes to the SHRED-X package or documentation itself
      - 'shredx/**'
      - 'docs/**'
  workflow_dispatch:

permissions:
  contents: write

jobs:
  test_build_docs:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.13.7"]
    steps:
      - uses: actions/checkout@v6
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
          cache: 'pip'
      - name: Install dependencies
        run: |
          pip install nox
      - name: Build documentation
        run: |
          nox -s build_docs
