# This workflow will install Python dependencies, run the linter and check formatting on the code.
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Linter

on:
  push:
    branches:
      - "**"
    paths: # Only run linting and formatting for changes to the SHRED-X package
      - 'shredx/**'
      - 'test/**'
  workflow_dispatch:

permissions:
  contents: read

jobs:
  lint_format:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.13.7"]
    steps:
    - uses: actions/checkout@v6
    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: ${{ matrix.python-version }}
        cache: 'pip'
    - name: Install dependencies 
      run: |
        pip install nox
    - name: Run linting and formatting
      run: |
        nox -s lint
        nox -s format
